html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style:normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);

}
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
::-webkit-scrollbar {
  display: none !important;
}
::selection {
   background: #fff;
}
.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
  height: 100%;
}
.card-design-type {
  height: 200px;
}
.card-normal {
  height: 135px;
}
.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
  text-align: center !important;
}
.page6-image14696332001 {
  top: 431px;
  left: 664px;
  width: 112px;
  height: 112px;
  margin-bottom: 50px;
}
.page6-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 64px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 50px;
}
.page6-text06 {
  color: rgba(0, 0, 0, 1);
  width: 832px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 50px;
}
.page6-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 50px;
}
.btn-404 {
  background-color: #000;
  border-radius: 20px;
  padding: 10px 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-bottom: 50px;
}
.details-404 {
  display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.page-header-new {
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 80px;
  display: flex;
  position: fixed;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 16px -1px rgba(18, 22, 33, 0.3);
  align-items: center;
  z-index: 999;
}
.left-nav {
  display: flex;
  position: absolute;
  left: 4.5%;
  gap: 5%;
  width: 100%;
  align-items: center;
}
.right-nav {
  display: flex;
  position: absolute;
  right: 4.5%;
  gap: 15px;
}
.page-logo {
  width: 50px;
  height: 50px;
}
.page-frameicon-user {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-frameiconfilter {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-frameicongriddots {
  width: 30px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-container {
  margin-left: 4.5%;
  margin-right: 4.5%;
}
.page-product-pagev35 {
  width: 100%;
  position: relative;
  margin-top: 10%;
}
.des-left {
  display: flex;
  flex-direction: column;
}
.btn-des {
  display: flex;
  margin-top: 4%;
  gap: 2%;
}
.btn-price {
  display: flex;
  align-items: center;
  margin-top: 10%;
  gap: 10%;
}
.page-text {
  color: rgba(37, 37, 37, 1);
  width: 582px;
  height: auto;
  font-size: 38px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 38px;
  font-stretch: normal;
  text-decoration: none;
}
.page-imagenprincipal {
  top: 168px;
  left: 786px;
  width: 571.000244140625px;
  height: 400.9501953125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-gallery {
  gap: 20px;
  top: 340.9501953125px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.page-rectangle10 {
  width: 60px;
  height: 60px;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.page-rectangle11 {
  width: 60px;
  height: 60px;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.page-rectangle12 {
  width: 60px;
  height: 60px;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.page-rectangle13 {
  width: 60px;
  height: 60px;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.page-rectangle14 {
  width: 60px;
  height: 60px;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.page-image {
  top: 0px;
  left: 0.000244140625px;
  width: 571px;
  height: 321px;
  position: absolute;
  border-radius: 5px;
}
.page-text05 {
  color: rgba(37, 37, 37, 1);
  width: 582px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
  margin-top: 2%;
}
.page-text07 {
  color: rgba(37, 37, 37, 1);
  height: auto;
  font-size: 26px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.page-text09 {
  top: 24px;
  color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-divider {
  top: 615px;
  width: 1297px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-line2 {
  top: 16px;
  left: 170px;
  width: 1127px;
  height: 1px;
  position: absolute;
}
.page-btn {
  width: 116px;
  display: flex;
  padding: 5px 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(241, 241, 241, 1);
}
.page-group37 {
  width: 96px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text13 {
  color: rgba(37, 37, 37, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-btn1 {
  width: 165px;
  display: flex;
  padding: 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(255, 214, 10, 1);
}
.btn-buy {
  display: flex;
  padding: 10px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(255, 214, 10, 1);
}
.btn-filter {
  width: 100px;
  display: flex;
  padding: 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  justify-content: center;
  background-color: rgba(255, 214, 10, 1);
}
.btn-filter-none {
  width: 100px;
  display: flex;
  padding: 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 25px;
  justify-content: center;
  background-color: #D9D9D9;
}
.filters-applied {
  display: flex;
  gap: 20px;
}
.page-btn1:hover {
  box-shadow: 12px 25px 25px rgba(0, 0, 0, 0.25);
}
.page-frame37 {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-cartoutline {
  width: 7px;
  height: 7px;
}
.page-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.page-btn2 {
  width: 46px;
  display: flex;
  padding: 5px 10px;
  overflow: hidden;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: rgba(255, 214, 10, 1);
}
.page-group371 {
  width: 26px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text17 {
  color: rgba(37, 37, 37, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle55 {
  top: 696px;
  left: 72px;
  width: 503px;
  height: 535px;
  position: absolute;
  border-radius: 30px;
}
.page-img {
  top: 840px;
  left: 219px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.page-colors {
  top: 1098px;
  left: 260px;
  width: 127px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse1 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse2 {
  top: 0px;
  left: 35px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse3 {
  top: 0px;
  left: 70px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse4 {
  top: 0px;
  left: 105px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-text19 {
  top: 745px;
  left: 104px;
  color: rgba(37, 37, 37, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text21 {
  top: 728px;
  left: 104px;
  color: rgba(210, 210, 210, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page-text23 {
  top: 1180px;
  left: 104px;
  color: rgba(185, 185, 185, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame50 {
  gap: 13px;
  top: 1171px;
  left: 458px;
  width: 85px;
  display: flex;
  padding: 6px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 214, 10, 1);
}
.page-cartoutline1 {
  width: 22px;
  height: 22px;
}
.page-text25 {
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle56 {
  top: 696px;
  left: 646px;
  width: 503px;
  height: 535px;
  position: absolute;
  border-radius: 30px;
}
.page-img1 {
  top: 840px;
  left: 793px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.page-colors1 {
  top: 1098px;
  left: 834px;
  width: 127px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse11 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse21 {
  top: 0px;
  left: 35px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse31 {
  top: 0px;
  left: 70px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse41 {
  top: 0px;
  left: 105px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-text27 {
  top: 745px;
  left: 678px;
  color: rgba(37, 37, 37, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text29 {
  top: 728px;
  left: 678px;
  color: rgba(210, 210, 210, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page-text31 {
  top: 1180px;
  left: 678px;
  color: rgba(185, 185, 185, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame51 {
  gap: 13px;
  top: 1171px;
  left: 1032px;
  width: 85px;
  display: flex;
  padding: 6px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 214, 10, 1);
}
.page-cartoutline2 {
  width: 15px;
  height: 15px;
}
.page-text33 {
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle57 {
  top: 696px;
  left: 1220px;
  width: 503px;
  height: 535px;
  position: absolute;
  border-radius: 30px;
}
.page-img2 {
  top: 840px;
  left: 1367px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.page-colors2 {
  top: 1098px;
  left: 1408px;
  width: 127px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse12 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse22 {
  top: 0px;
  left: 35px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse32 {
  top: 0px;
  left: 70px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse42 {
  top: 0px;
  left: 105px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-text35 {
  top: 745px;
  left: 1252px;
  color: rgba(37, 37, 37, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text37 {
  top: 728px;
  left: 1252px;
  color: rgba(210, 210, 210, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page-text39 {
  top: 1180px;
  left: 1252px;
  color: rgba(185, 185, 185, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame52 {
  gap: 13px;
  top: 1171px;
  left: 1606px;
  width: 85px;
  display: flex;
  padding: 6px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 214, 10, 1);
}
.page-cartoutline3 {
  width: 22px;
  height: 22px;
}
.page-text41 {
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle58 {
  top: 1291px;
  left: 72px;
  width: 503px;
  height: 535px;
  position: absolute;
  border-radius: 30px;
}
.page-img3 {
  top: 1435px;
  left: 219px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.page-colors3 {
  top: 1693px;
  left: 260px;
  width: 127px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse13 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse23 {
  top: 0px;
  left: 35px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse33 {
  top: 0px;
  left: 70px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse43 {
  top: 0px;
  left: 105px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-text43 {
  top: 1340px;
  left: 104px;
  color: rgba(37, 37, 37, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text45 {
  top: 1323px;
  left: 104px;
  color: rgba(210, 210, 210, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page-text47 {
  top: 1775px;
  left: 104px;
  color: rgba(185, 185, 185, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame53 {
  gap: 13px;
  top: 1766px;
  left: 458px;
  width: 85px;
  display: flex;
  padding: 6px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 214, 10, 1);
}
.page-cartoutline4 {
  width: 22px;
  height: 22px;
}
.page-text49 {
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle59 {
  top: 1291px;
  left: 646px;
  width: 503px;
  height: 535px;
  position: absolute;
  border-radius: 30px;
}
.page-img4 {
  top: 1435px;
  left: 793px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.page-colors4 {
  top: 1693px;
  left: 834px;
  width: 127px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse14 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse24 {
  top: 0px;
  left: 35px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse34 {
  top: 0px;
  left: 70px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse44 {
  top: 0px;
  left: 105px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-text51 {
  top: 1340px;
  left: 678px;
  color: rgba(37, 37, 37, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text53 {
  top: 1323px;
  left: 678px;
  color: rgba(210, 210, 210, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page-text55 {
  top: 1775px;
  left: 678px;
  color: rgba(185, 185, 185, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame54 {
  gap: 13px;
  top: 1766px;
  left: 1032px;
  width: 85px;
  display: flex;
  padding: 6px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 214, 10, 1);
}
.page-cartoutline5 {
  width: 22px;
  height: 22px;
}
.page-text57 {
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle60 {
  top: 1291px;
  left: 1220px;
  width: 503px;
  height: 535px;
  position: absolute;
  border-radius: 30px;
}
.page-img5 {
  top: 1435px;
  left: 1367px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.page-colors5 {
  top: 1693px;
  left: 1408px;
  width: 127px;
  height: 22px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ellipse15 {
  top: 0px;
  left: 0px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse25 {
  top: 0px;
  left: 35px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse35 {
  top: 0px;
  left: 70px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-ellipse45 {
  top: 0px;
  left: 105px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.page-text59 {
  top: 1340px;
  left: 1252px;
  color: rgba(37, 37, 37, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text61 {
  top: 1323px;
  left: 1252px;
  color: rgba(210, 210, 210, 1);
  width: 77px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.page-text63 {
  top: 1775px;
  left: 1252px;
  color: rgba(185, 185, 185, 1);
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame55 {
  gap: 13px;
  top: 1766px;
  left: 1606px;
  width: 85px;
  display: flex;
  padding: 6px 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 214, 10, 1);
}
.page-cartoutline6 {
  width: 22px;
  height: 22px;
}
.page-text65 {
  color: rgba(0, 0, 0, 1);
  width: 26px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.page-text67 {
  top: 48px;
  left: 253px;
  color: rgba(143, 143, 143, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-frame5 {
  gap: 10px;
  top: 47px;
  left: 1111px;
  display: flex;
  padding: 7px 9px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.page-group372 {
  width: 42px;
  height: 11px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text69 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 7px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.page-rectangle42 {
  left: 119px;
  width: 1086px;
  height: 66px;
  position: absolute;
  border-radius: 100px;
}
.page-text71 {
  left: 192px;
  color: rgba(73, 73, 73, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group49 {
  display: flex;
  align-items: center;
}
.page-group2 {
  width: 52px;
  height: 52px;
  display: flex;
  position: relative;
}
.page-bg {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 52px;
  position: absolute;
}

.page-vector {
  width: 30px;
  height: 30px;
}
.page-vector01 {
  width: 30px;
  height: 30px;
}
.page-vector02 {
  width: 30px;
  height: 30px;
}
.page-vector03 {
  top: 6.666645050048828px;
  left: 6.666560649871826px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector04 {
  top: 6.666645050048828px;
  left: 18.333295822143555px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector05 {
  top: 6.666645050048828px;
  left: 30.000030517578125px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector06 {
  top: 18.333295822143555px;
  left: 6.666560649871826px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector07 {
  top: 18.333295822143555px;
  left: 18.333295822143555px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector08 {
  top: 18.333295822143555px;
  left: 30.000030517578125px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector09 {
  top: 30.000030517578125px;
  left: 6.666560649871826px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector10 {
  top: 30.000030517578125px;
  left: 18.333295822143555px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.page-vector11 {
  top: 30.000030517578125px;
  left: 30.000030517578125px;
  width: 3px;
  height: 3px;
  position: absolute;
}

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;

  color: rgba(37, 37, 37, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;

  text-align: left;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Hero ************/
.hero {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

/** Slick **/

.main {
  width:500px;
  display:block;
  margin:0 auto;
}
.main .slider-for img {
  background: #fff;
  position: relative;
  width: 100%;
}

.main .slider-nav img {
  background: #fff;
  position: relative;
  width: 100px;
  height: 100px;
}

/** Footer **/

body .footer {
  z-index: 1;
  --footer-background:#000;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

/*** Filters ***/
.details-filters {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.selectMultiple {
  width: 100%;
  position: relative;
}
.selectMultiple select {
  display: none;
}
.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 8px 12px 2px 12px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  transition: box-shadow 0.3s ease;
}
.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 28px;
  position: absolute;
}
.selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid #99A3BA;
  top: 43%;
  transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
  right: 12px;
  transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
  left: 9px;
  transform: rotate(130deg);
}
.selectMultiple > div span {
  color: #99A3BA;
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}
.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}
.selectMultiple > div a {
  position: relative;
  background: rgba(255, 214, 10, 1);
  text-align: center;
  color: #1E2330;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
  padding: 15px;
  border-radius: 25px;
}
.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}
.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  display: block;
  z-index: -1;
}
.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  bottom: 8px;
  right: -4px;
  width: 24px;
  height: 28px;
  display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #4D18FF;
  border-radius: 1px;
}
.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}
.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
  transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
  color: #1E2330;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li:hover {
  background: #4D18FF;
  color: #fff;
}
.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}
.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}
.selectMultiple > ul li.remove:after {
  -webkit-animation: ripple 0.4s ease-out;
          animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
  display: none;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
  transform: scale(1);
  opacity: 1;
}
.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}
.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}


/** Search **/

.search {
  background: #E4E4E4;
  padding: 12px 16px 12px 48px;
  position: relative;
  display: table;
  margin: auto;
  border-radius: 25px;
  transition: background 0.1s ease, transform 0.1s ease, padding 0.5s ease 0.1s;
}
.search .bar {
  position: absolute;
  left: 16px;
  top: 15px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.search .bar span {
  display: block;
  color: #fff;
  position: absolute;
  left: 12px;
  top: 0;
  line-height: 32px;
  font-weight: 500;
  font-size: 16px;
  opacity: 0;
  right: 16px;
  overflow: hidden;
  white-space: nowrap;
}
.search .bar:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 16px;
  border-radius: 16px 0 0 16px;
  background: #000;
  opacity: 0;
}
.search .bar .icon {
  flex: 0 0 32px;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: scale(0.8);
  transition: transform 0.4s ease 0s, background 0.1s ease;
}
.search .bar .icon:before, .search .bar .icon:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 50%;
}
.search .bar .icon:before {
  background: #E4E4E4;
  left: 4px;
  top: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 2;
  transform: rotateY(0deg);
  transition: background 0.1s ease;
}
.search .bar .icon:after {
  background: #000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
  transition: background 0.1s ease;
}
.search .bar .icon i {
  left: 75%;
  top: 84%;
  position: absolute;
  display: block;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
.search .bar .icon i:before {
  content: "";
  width: 4px;
  height: 16px;
  border-radius: 2px;
  background: #000;
  display: block;
  transform-origin: 50% 0;
  transition: transform 0.4s ease 0s, background 0.1s ease;
}
.search form {
  display: block;
  padding: 0;
  margin: 0;
}
.search form input,
.search form span {
  white-space: pre;
  font-size: 16px;
  font-family: inherit;
  padding: 8px 16px 8px 12px;
  display: block;
  line-height: 22px;
  font-weight: 500;
}
.search form input {
  color: #000;
  caret-color: #000;
  border: 0;
  background: 0;
  outline: none;
  transition: color 0.1s ease;
  width: 100vh !important;
}
.search form span {
  display: none;
}
.search .close {
  border-radius: 50%;
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  background: #E4ECFA;
  top: 19px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translate(-8px, 0);
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}
.search .close:before, .search .close:after {
  content: "";
  position: absolute;
  width: 2px;
  border-radius: 1px;
  height: 10px;
  background: #6C7486;
  display: block;
  left: 50%;
  top: 50%;
  transition: background 0.3s ease;
}
.search .close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.search .close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.search ul {
  overflow: hidden;
  margin: 0;
  padding: 30px;
  list-style: none;
  position: absolute;
  left: 0;
  top: 65px;
  white-space: nowrap;
}
.search ul.show {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);

  background-color: #fff;
  box-shadow: 0 4px 16px -1px rgba(18, 22, 33, 0.3);
  border-radius: 25px;

  width: 100%;
}
.search ul  {
  margin: 0 0 20px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translate(0, -6px);
}
.search.submit {
  background: #000;
  transform: scale(0.92);
}
.search.submit .bar .icon {
  background: #fff;
}
.search.submit .bar .icon:before {
  background: #000;
}
.search.submit .bar .icon:after {
  background: #fff;
}
.search.submit .bar .icon i:before {
  background: #fff;
}
.search.submit form input {
  color: #fff;
}
.search.prepare .bar:before {
  opacity: 1;
  transition: opacity 0s ease 1.25s;
}
.search.prepare .bar .icon {
  transform: scale(1);
  transform-origin: 50% 50% 0;
  transition: transform 0.4s ease 0.85s, transform-origin 0s ease 1.25s, background 0.1s ease;
}
.search.prepare .bar .icon i:before {
  transform: scaleY(0);
  transition: transform 0.4s ease 0.4s, background 0.1s ease;
}
.search.animate .bar .icon {
  transform: rotateY(75deg);
  transition: transform 0.6s ease 0s;
}
.search.animate .bar span {
  opacity: 1;
}
.search.done {
  padding-right: 56px;
  transition: padding 0.4s ease;
}
.search.done .bar .icon {
  transform: rotateY(180deg);
  transition: transform 0.7s ease 0s;
}
.search.done .close {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
  transition: transform 0.4s ease 0.5s, opacity 0.4s ease 0.5s, visibility 0.4s ease 0.5s;
}
.search.done .close:hover {
  background: #8C6FF0;
  transition: background 0.3s ease;
}
.search.done .close:hover:before, .search.done .close:hover:after {
  background: #fff;
}
.search.reset .bar:before {
  opacity: 0;
  transition: opacity 0s ease 0.4s;
}
.search.reset .bar .icon {
  transform: rotateY(0deg);
  transition: transform 0.4s ease 0s;
}

/******** Slider ***************/

/*----------------------------*\
  product
\*----------------------------*/
.slick-dots {
  display: none !important;
}
.product {
  position: relative;
  margin: 15px 0px;
  transition: 0.2s all;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product .product-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.product .product-img>img {
  margin-top: 10%;
  width: 80%;
}

.product .product-img .product-label {
  position: absolute;
  top: 15px;
  left: 15px;

  display: flex;
  flex-direction: column;
}

.product .product-img .product-label>span.sale {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.product .product-img .product-label>span.new {
  color: #000;
  font-weight: bold;
  font-size: 25px;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 14px;
}

.product .product-body .product-name>a {
  font-weight: 700;
  text-decoration: none;
}

.product .product-body .product-name>a:hover, .product .product-body .product-name>a:focus {
  color: #D10024;
}

.product .product-body .product-price {
  color: #B9B9B9;
  font-size: 18px;
}

.product .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #B9B9B9;
}

.product .product-body .product-rating {
  position: relative;
  margin: 15px 0px 10px;
  height: 20px;
}

.product .product-body .product-rating>i {
  position: relative;
  width: 14px;
  margin-right: -4px;
  background: #FFF;
  color: #E4E7ED;
  z-index: 10;
}

.product .product-body .product-rating>i.fa-star {
  color: #e58b19;
}

.product .product-body .product-rating:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background-color: #E4E7ED;
}

/*----------------------------*\
  Widget product
\*----------------------------*/

.product-widget {
  position: relative;
}

.product-widget+.product-widget {
  margin: 30px 0px;
}

.product-widget .product-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
    
    
}

.product-widget .product-img>img {
  width: 100%;
}

.product-widget .product-body {
  padding-left: 75px;
  min-height: 60px;
}

.product-widget .product-body .product-category {
  text-transform: uppercase;
  font-size: 10px;
  color: #8D99AE;
}

.product-widget .product-body .product-name {
  text-transform: uppercase;
  font-size: 12px;
}

.product-widget .product-body .product-name>a {
  font-weight: 700;
}

.product-widget .product-body .product-name>a:hover, .product-widget .product-body .product-name>a:focus {
  color: #D10024;
}

.product-widget .product-body .product-price {
  font-size: 14px;
  color: #D10024;
}

.product-widget .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product-widget .product-body .product-price .qty {
  font-weight: 400;
  margin-right: 10px;
}

.product-widget .delete {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 10px;
  padding: 0;
  background: #1e1f29;
  border: none;
  color: #FFF;
}

/*----------------------------*\
  Products slick
\*----------------------------*/

.slick-track{
  opacity: 1;
  width: 100%;
  transform:
  translate3d(-1465px, 0px, 0px);
}

.products-slick .slick-list {
  padding-bottom: 60px;
  margin-bottom: -60px;
  z-index: 2;
}

.products-slick .product.slick-slide {
  margin: 15px;
}

.products-tabs>.tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding-bottom: 60px;
  margin-bottom: -60px;
}

.products-tabs>.tab-pane.active {
  opacity: 1;
  visibility: visible;
  height: auto;
}

.products-slick-nav {
  position: absolute;
  right: 15px;
  z-index: 10;
}

.products-slick-nav .slick-prev, .products-slick-nav .slick-next {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  width: 20px;
  height: 20px;
  display: inline-block !important;
  margin: 0px 2px;
}

.products-slick-nav .slick-prev:before, .products-slick-nav .slick-next:before {
  font-size: 14px;
}

/******** Header **********/
.header{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  color: #fff;
}
.header:before{
  content:"";
  width:100%;
  height: 123%;
  position:absolute;
  top:20%;
  left:0;
  background:#1B2030 url('../media/Hero.png') 50% 0 no-repeat;
  background-size:100%;
  z-index:-2
}

.info{
  width:100%;
  padding: 17% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.yellow-text {
  color: #FFD60A !important;
}

/************ Colors ***************/

.colorsSelector {
  text-align: left;
}
.colorsSelectorProduct {
  text-align: center;
  margin: 15px;
}
.colorItem {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #999;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.colorItem--active {
    box-shadow: 0px 0px 0px 5px #fe9b07;
}

.colorBlue {
    background-color: #5192E3;
}
.colorYellow {
  background-color: #F8D745;
}
.colorWhite {
    background-color: #cfcfcf;
}
.colorRed {
    background-color: #c64040;
}

.colorBlack {
    background-color: #08090b;
}

.colorPurple {
    background-color: #D2B6FF;
}
.colorTinto {
  background-color: #D8476A;
}
.colorOrange {
    background-color: #d87c5a;
}

.colorGraphite {
    background-color: #7f7f7f;
}