.shop-emotes-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shop-emotes-shop-emotes {
  width: 100%;
  height: 1779px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(246, 246, 246, 1);
}
.shop-emotes-group6 {
  top: 796px;
  left: 30px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse6 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-footer {
  top: 1708px;
  left: 0px;
  width: 1440px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-rectangle2 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 71px;
  position: absolute;
}
.shop-emotes-text02 {
  top: 24px;
  color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-loading {
  top: 1631px;
  left: 695px;
  width: 51px;
  height: 45px;
  position: absolute;
}
.shop-emotes-rectangle3 {
  top: 517px;
  left: 29px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle4 {
  top: 517px;
  left: 381px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle5 {
  top: 517px;
  left: 732px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle6 {
  top: 517px;
  left: 1083px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-group5 {
  top: 799px;
  left: 306px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text04 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group7 {
  top: 796px;
  left: 381px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse601 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text06 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group8 {
  top: 799px;
  left: 657px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text08 {
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group9 {
  top: 796px;
  left: 732px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse602 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text10 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group10 {
  top: 799px;
  left: 1008px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text12 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group11 {
  top: 796px;
  left: 1083px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse603 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text14 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group12 {
  top: 799px;
  left: 1359px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text16 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-img {
  top: 550px;
  left: 89px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img01 {
  top: 550px;
  left: 440px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img02 {
  top: 550px;
  left: 792px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img03 {
  top: 550px;
  left: 1143px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-group21 {
  top: 796px;
  left: 30px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse604 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text18 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-rectangle11 {
  top: 517px;
  left: 29px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle12 {
  top: 517px;
  left: 381px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle13 {
  top: 517px;
  left: 732px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle14 {
  top: 517px;
  left: 1083px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-group22 {
  top: 799px;
  left: 306px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text20 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group23 {
  top: 796px;
  left: 381px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse605 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text22 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group24 {
  top: 799px;
  left: 657px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text24 {
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group25 {
  top: 796px;
  left: 732px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse606 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text26 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group26 {
  top: 799px;
  left: 1008px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text28 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group27 {
  top: 796px;
  left: 1083px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse607 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text30 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group28 {
  top: 799px;
  left: 1359px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text32 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-img04 {
  top: 550px;
  left: 89px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img05 {
  top: 550px;
  left: 440px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img06 {
  top: 550px;
  left: 792px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img07 {
  top: 550px;
  left: 1143px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-group29 {
  top: 1540px;
  left: 30px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse608 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text34 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-rectangle15 {
  top: 1213px;
  left: 29px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle16 {
  top: 1213px;
  left: 381px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle17 {
  top: 1213px;
  left: 732px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle18 {
  top: 1213px;
  left: 1083px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-group30 {
  top: 1543px;
  left: 306px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text36 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group31 {
  top: 1540px;
  left: 381px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse609 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text38 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group32 {
  top: 1543px;
  left: 657px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text40 {
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group33 {
  top: 1540px;
  left: 732px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse610 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text42 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group34 {
  top: 1543px;
  left: 1008px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text44 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group35 {
  top: 1540px;
  left: 1083px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse611 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text46 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group36 {
  top: 1543px;
  left: 1359px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text48 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-img08 {
  top: 1246px;
  left: 89px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img09 {
  top: 1246px;
  left: 440px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img10 {
  top: 1246px;
  left: 792px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img11 {
  top: 1246px;
  left: 1143px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-group37 {
  top: 455px;
  left: 29px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse612 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text50 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-rectangle19 {
  top: 176px;
  left: 28px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle20 {
  top: 176px;
  left: 380px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle21 {
  top: 176px;
  left: 731px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle22 {
  top: 176px;
  left: 1082px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-group38 {
  top: 458px;
  left: 305px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text52 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group39 {
  top: 455px;
  left: 380px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse613 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text54 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group40 {
  top: 458px;
  left: 656px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text56 {
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group41 {
  top: 455px;
  left: 731px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse614 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text58 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group42 {
  top: 458px;
  left: 1007px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text60 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group43 {
  top: 455px;
  left: 1082px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse615 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text62 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group44 {
  top: 458px;
  left: 1358px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text64 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-img12 {
  top: 209px;
  left: 88px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img13 {
  top: 209px;
  left: 439px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img14 {
  top: 209px;
  left: 791px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img15 {
  top: 209px;
  left: 1142px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-group13 {
  top: 1144px;
  left: 39px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse616 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text66 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-rectangle7 {
  top: 865px;
  left: 38px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle8 {
  top: 865px;
  left: 390px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle9 {
  top: 865px;
  left: 741px;
  width: 327px;
  height: 274px;
  position: absolute;
}
.shop-emotes-rectangle10 {
  top: 865px;
  left: 1092px;
  width: 328px;
  height: 274px;
  position: absolute;
}
.shop-emotes-group14 {
  top: 1147px;
  left: 315px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text68 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group15 {
  top: 1144px;
  left: 390px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse617 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text70 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group16 {
  top: 1147px;
  left: 666px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text72 {
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group17 {
  top: 1144px;
  left: 741px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse618 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text74 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group18 {
  top: 1147px;
  left: 1017px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text76 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group19 {
  top: 1144px;
  left: 1092px;
  width: 90px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-ellipse619 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.shop-emotes-text78 {
  top: 4px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group20 {
  top: 1147px;
  left: 1368px;
  width: 51px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text80 {
  left: 4px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-img16 {
  top: 895px;
  left: 95px;
  width: 214px;
  height: 214px;
  position: absolute;
}
.shop-emotes-img17 {
  top: 898px;
  left: 450px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img18 {
  top: 898px;
  left: 801px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-img19 {
  top: 898px;
  left: 1152px;
  width: 208px;
  height: 208px;
  position: absolute;
}
.shop-emotes-rectangle41 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 114px;
  position: absolute;
}
.shop-emotes-logo {
  top: 35px;
  left: 34px;
  width: 48px;
  height: 50px;
  position: absolute;
}
.shop-emotes-rectangle42 {
  top: 24px;
  left: 119px;
  width: 988px;
  height: 66px;
  position: absolute;
  border-radius: 100px;
}
.shop-emotes-rectangle43 {
  top: 24px;
  left: 1120px;
  width: 177px;
  height: 66px;
  position: absolute;
  border-radius: 100px;
}
.shop-emotes-text82 {
  top: 46px;
  left: 192px;
  color: rgba(73, 73, 73, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-group49 {
  top: 31px;
  left: 127px;
  width: 52px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-group2 {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 52px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-bg {
  top: 0px;
  left: 0px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.shop-emotes-search {
  top: 12.315789222717285px;
  left: 12.315789222717285px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.shop-emotes-frameicon-user {
  top: 44px;
  left: 1382px;
  width: 23.343345642089844px;
  height: 26.678112030029297px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-vector {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 27px;
  position: absolute;
}
.shop-emotes-group52 {
  top: 46px;
  left: 1155px;
  width: 108px;
  height: 21px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-text84 {
  left: 14px;
  color: rgba(73, 73, 73, 1);
  width: 94px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.shop-emotes-frameiconlinkchain {
  top: 4px;
  left: 0px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.shop-emotes-vector1 {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
}
